/* ------ Corps & enveloppe ------ */
/*
body {
  background-color: darkgray;
  padding: 2rem;
}
main {
  padding: 2rem;
  border-radius: 10px;
  background-color: #eee;
}
*/

/* ------ Classes standardisées ------ */

.grid-container {
  display: grid;
}
.flex-container {
  display: flex;
}
.perfectlycentered {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.unmargined {
  margin: 0;
  padding: 0;
}

/* ------ Éléments de page ------ */


/* ------ Crédits ------ */


footer {
  margin: 2.5rem 1rem;
  font-size: 0.9rem;
}
footer a img {
    width: 20vh;
}
