/* ------ Corps & enveloppe ------ */

body {
  margin: 0;
  background-color: #e5e5e5;
}

/* ------ Éléments de page ------ */

h1 {
  margin: 0;
  font-size: 12rem;
}
h2 {
  margin: 0;
  font-size: 4rem;
}
p {
  font-size: 25px;
  font-size: max(1rem, 3vw);
}

footer p {
  font-size: 0.9rem;
}

/* ------ Layout custom ------ */

.header-bg {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
  background-blend-mode: overlay;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.header-bg h1 {
  text-shadow: 3px 3px white,
              -3px -3px white;
}

.header-bg.vermont {
  background: #297929;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3e/Montpelier_vermont_state_house_20.jpg);
  /* background-image: linear-gradient(25deg, rgb(32,125,0) 0%, rgb(88,196,32) 100%); */
}
.header-bg.alaska {
  background: #8e0373;
  background-image: url(https://live.staticflickr.com/65535/4985057469_d958233d8a_b.jpg);
}


.grid-container {
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.grid-cell {
  padding: 1rem;
  text-align: center;
}
.grid-cell.image {
  padding: 0;
}
.grid-cell img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
