/* ------ Corps & enveloppe ------ */

body {
  margin: 0;
  background-color: #e5e5e5;
}

/* ------ Éléments de page ------ */

h1 {
  margin: 0;
  font-size: 12rem;
}
h2 {
  margin: 0;
  font-size: 3rem;
}
p {
  font-size: 4rem;
}

/* ------ Layout custom ------ */

.header-bg {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
  background-blend-mode: overlay;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.header-bg.vermont {
  background: #297929;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3e/Montpelier_vermont_state_house_20.jpg);
}

.header-bg.alaska {
  background: xxx;
  background-image: xxx;
}


.grid-container {
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.grid-cell {
  padding: 1rem;
  text-align: center;
}
.grid-cell.image {
  padding: 0;
}
.grid-cell img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
